body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #b22222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
} */

.hero {
    background: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero button {
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

section {
    padding: 40px;
    text-align: center;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 150px;
    border-radius: 8px;
    font-size: 18px;
}

.card1{
     background: #740e81;
    padding: 20px;
    width: 400px;
    border-radius: 50px;
    font-size: 18px;
    align-items: center;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    padding: 10px 20px;
    background: #b22222;
    color: white;
    border: none;
}

footer {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

pre {
    text-align: left;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
}


.card2{
    background:white;
    padding: 20px;
    width: 1300px;
    height: 300px;
    border-radius: 20px;
    font-size: 18px;
    align-items: center;
    color: black;
   
}
#about{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}